mixin section(modifier)
  section
    .section
      .section__text 
        p Lorem ipsum dolor sit amet, pro no placerat hendrerit. Ad omnis virtute sit, vis quem lorem an, at eius suscipiantur vel.
         |  Sit ad purto falli disputando, ex sale sensibus pri. 
      .section__nav         
        a.section__link(href="#overview") #[span 01] Overview        
        a.section__link(href="#general") #[span 02]General features       
        a.section__link(href="#additional") #[span 03]Additional features        
        a.section__link(href="#membership") #[span 04]Membership &amp Cost        
        a.section__link(href="#overall") #[span 05]Overall
      .section__context
        .section__context-description-nav01
          h2(id='overview') Overview
          p Looking for the ideal Ukraine wife? Well, perhaps Victoria Brides is the dating site for you. However, 
           | before you jump right in and give them your credit card information, I want you to read this entire review.
           |This site certainly isn’t for everyone and I’m going to share a few reasons why I’ve opted to never use the site in general.

          p  Don’t take my word for it though. Instead, you’d be much better off reading this review, validating my findings and using an 
           |alternative option or two if you’re daring enough to do so. I’ll kick things off by explaining everything that I know about 
           |Victoriabrides.com and whether or not it’s a reputable matchmaking site that you should think about joining  findings and using 
           |an alternative option or two if you’re daring enough to do so. I’ll kick things off by explaining everything that I know about
           |Victoriabrides.com.
        .section__context-screenshot-nav01
        .section__context-description-nav02       
          h2(id='general') General features
        .section__context-screenshot-nav02
        .section__context-description-nav03        
          h2(id='additional') Additional features
        .section__context-screenshot-nav03
        .section__context-description-nav04       
          h2(id='membership') Membership &amp Cost
          p You won’t be able to get a relationship going on VictoriaBrides without acquiring a Premium membership subscription, which offers
          | tools that are necessary for communicating. They include instant messaging, chatting, exchanging letters, as well as access to the
          | private photos and videos of women. Membership includes 20 credits that can be used to test out these features for several minutes.
          p Once you’ve spent your test credits, you’ll have to buy another credit package to be able to continue using all the features the
          | site offers. Victoria Brides now offers a choice of these credit packages:
          ul 
            li    20 credits for $9.99
            li    50 credits for $28.99
            li   125 credits for $64.99
            li   250 credits for $99.99
            li   750 credits for $214.99
          p Making this choice, keep in mind that each minute of using live chat is two credits, the first letter is 10 credits, and every subsequent
          | letter is 30 credits. Also, you can initiate your chats with other members with cute virtual gifts that cost five credits per each gift sent.
          | It’s widely understood that this way of initating contact is a great way to stand out from the pack and brings more results than just sending 
          | a winking smily face or writing a simple “Hello.” If you want to view a lady’s personal video, you should be ready to spend 25 credits on it. 
          p Also, this site has its own online shop where you can order the delivery of flower bouquets and romantic gifts to the woman of your desires,
          | no matter what country she lives in. But the prices for such bouquets start from 390 credits (delivery included) so I recommend extending 
          | such surprises only to the woman who has finally won your heart. 
        .section__context-screenshot-nav04
        .section__context-description-nav05      
          h2(id='overall') Overall
        .section__context-screenshot-nav05