section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 620px;

    @media(max-width: 768px) {
      align-items: center;
      width: 100%;
    }

    &__text {
      margin: 6px 0 28px;
      width: 620px;

      @media(max-width: 768px) {
        width: 100%;
      }

      p {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 15px;
        color: #393939;
        width: 620px;

        @media(max-width: 768px) {
          width: 100%;
        }
      }

      // @media(max-width:768px) {
      //   width: 94%;
      // }
    }

    &__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: rgba(235, 238, 240, 0.3);
      width: 460px;
      height: 227px;
      padding: 26px 80px;

      @media(max-width: 768px) {
        width: calc(100% - 160px);
      }
      @media(max-width: 425px) {
        width: calc(100% - 40px);
        padding: 20px;

      }


      .section__link {
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        line-height: 40px;
        font-size: 18px;
        color: #393245;
        text-decoration: none;

        @media(max-width: 768px) {
          border-bottom: 1px solid #F0F0F4;
          &:nth-child(5){
            border-bottom: none;
          }
        }

        span {
          font-family: Muli;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 16px;
          text-align: right;
          color: #393245;
          margin-right: 20px;
        }
      }
    }

    &__context {
      margin-top: 30px;
      width: 620px;
      @media(max-width: 768px) {
        width: 100%;           
      }

      &-description-nav01 {
        margin-bottom: 15px;


        h2 {
          font-family: Muli;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          font-size: 26px;
          color: #393939;

        }

        p {
          font-family: Muli;
          font-style: normal;
          font-weight: 300;
          line-height: 20px;
          font-size: 15px;
          color: #393939;
          width: 620px;

          @media(max-width: 768px) {
            width: 100%;           
          }
        }

      }

      &-screenshot-nav01 {
        display: flex;
        background-image: url(../img/overviewbg.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 620px auto;
        width: 620px;
        height: 300px;

        @media(max-width: 768px) {
          background-size: 100%;
          width: 100%;
        }
        @media(max-width: 425px) {    
          height: 150px;
         }
      }

      &-description-nav02 {
        display: none;
      }

      &-screenshot-nav02 {
        display: none;
      }

      &-description-nav03 {
        display: none;
      }

      &-screenshot-nav03 {
        display: none;
      }

      &-description-nav04 {
        display: none;
      }

      &-screenshot-nav04 {
        display: none;
        background-image: url(../img/Cost.jpg);
        background-position: top center;
        background-size: cover;
        width: 620px;
        height: 300px;
      }

      &-description-nav05 {
        display: none;
      }

      &-screenshot-nav05 {
        display: none;
      }
    }

  }
}