mixin main(modifier)
  main 
    .main__header
      h1 VICTORIABRIDES REVIEW
      a.button(href='https://victoriabrides.com/signup/1') Visit cite
    .main__photo      
    .main__content
      +section
      +aside