mixin aside(modifier)
  aside
    .aside
      .aside__rating
        h3 BEST DATING SITES

        .aside__rating-site
          .aside__rating-site-logo(id='valentime')
          .aside__rating-site-desc
            h5 ValenTime
            .aside__rating-site-desc-rate
            a.aside__rating-site-desc-link(href='https://valentime.com/') Read review

        .aside__rating-site
          .aside__rating-site-logo(id='Rt')
          .aside__rating-site-desc
            h5 RomanceTale
            .aside__rating-site-desc-rate
            a.aside__rating-site-desc-link(href='https://romancetale.com/') Read review 

        .aside__rating-site
          .aside__rating-site-logo(id='charmerly')
          .aside__rating-site-desc
            h5 Charmerly
            .aside__rating-site-desc-rate
            a.aside__rating-site-desc-link(href='https://charmerly.com/') Read review

        .aside__rating-site
          .aside__rating-site-logo(id='Ls')
          .aside__rating-site-desc
            h5 LoveSwans
            .aside__rating-site-desc-rate
            a.aside__rating-site-desc-link(href='https://loveswans.com/')  Read review 

      .aside__item
        h4 HOT OR NOT?
        .aside__item-img
        .aside__item-desc
          h5 Maria, 21
          .aside__item-desc-text 
            p I like to travel. I have been traveling for many years. One of my favorite...
          .aside__item-desc-btn
            .aside__item-desc-btn-dislike.button Dislike
            .aside__item-desc-btn-like.button   Like
