aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 320px;

  @media(max-width: 768px) {
    display: none;
  }

  // justify-content: center;
  .aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    &__rating {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 240px;
      height: 400px;
      margin-top: 20px;

      &-site {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid rgba(235, 238, 240, 0.7);
        width: 240px;

        &:nth-child(5) {
          border-bottom: none;
        }

        &-logo {
          background: #FFFFFF;
          background-repeat: no-repeat;
          background-position: center center;
          mix-blend-mode: normal;
          border: 1px solid rgba(235, 238, 240, 0.5);
          box-sizing: border-box;
          width: 100px;
          height: 60px;
          margin: 15px 10px 16px 0;
        }

        &-desc {
          display: flex;
          flex-direction: column;
          // justify-content: space-between;

          &-rate {
            margin-left: 10px;
            background-image: url(../img/starRate.png);
            width: 59px;
            height: 10px;
          }

          &-link {
            font-family: Muli;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 12px;
            text-decoration-line: underline;
            color: #4A90E2;

          }
        }
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 240px;
      height: 420px;
      margin-top: 128px;

      &-img {
        background-image: url(../img/photo.png);
        background-size: 100%;
        width: 240px;
        height: 240px;
      }

      &-desc {
        &-text {
          p {
            font-family: Muli;
            font-style: normal;
            font-weight: normal;
            line-height: 15px;
            font-size: 12px;
            color: #1B202C;
          }
        }

        &-btn {
          display: flex;
          justify-content: space-between;

          &-dislike {
            font-size: 15px;
            background-color: #A7B4BA;
            border-radius: 3px;
            width: 115px;
            cursor: pointer;

          }

          &-like {
            font-size: 15px;
            background: linear-gradient(180deg, #66C943 0%, #369920 100%);
            border-radius: 3px;
            width: 115px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

h3 {
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  font-size: 18px;
  color: #1C222D;
  margin-top: 0;
  margin-bottom: 2px;
}

h4 {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  font-size: 17px;
  color: #1C222D;
  margin-top: 0;
}

h5 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 15px;
  color: #232632;
  margin: 15px 0;
}

#valentime {
  background-image: url(../img/VT.png);
}

#Rt {
  background-image: url(../img/RT.png);
}

#charmerly {
  background-image: url(../img/charmerly.png);
}

#Ls {
  background-image: url(../img/loveswans.png);
}