mixin hamburger(modifier)
  .ham
    .nav__mobile
        a.nav__link(href="#") TOP 5 SITES
        a.nav__link(href="#") UKRAINIAN DATING SITES
        a.nav__link(href="#") RUSSIAN DATING SITES
        a.nav__link(href="#") ASIAN DATING SITES
        a.nav__link(href="#") BLOG